body {
            background-color: #121212;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .form-container {
            width: 300px;
            padding: 20px;
            background-color: #1c1c1c;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        h3, h1 {
            text-align: left;
            margin-bottom: 20px;
        }
        .form-container input {
            width: 100%;
            padding: 8px 0;
            margin: 8px 0;
            border-radius: 5px;
            border: none;
            background-color: #333;
            color: white;
        }
        .form-container button {
            width: 100%;
            padding: 10px;
            background-color: #00b300;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            font-size: 16px;
        }
        .form-container button:hover {
            background-color: #009900;
        }